apiVersion: apiregistration.k8s.io/v1beta1
kind: APIService
metadata:
  name: v1alpha1.admission.somethingcontroller.kube-ac.com
spec:
  insecureSkipTLSVerify: true
#  caBundle: ${SERVICE_SERVING_CERT_CA}
  group: admission.somethingcontroller.kube-ac.com
  groupPriorityMinimum: 1000
  versionPriority: 15
  service:
    name: svc-apiserver
    namespace: kube-ac
  version: v1alpha1
